body {
    background-image: url(../../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    font-family: $fontFamily;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

p {
    line-height: 26px;
    font-size: 16px;
    padding: 0px 34px;
    color: $GrayishBlues;
}

h3,
h2 {
    color: $DarkBlue;
}

header {
    text-align: center;
    color: $DarkBlue;
    h1 {
        font-size: 32px;
        padding: 0 15px;
    }
    img {
        width: 110px;
        margin-top: 100px;
        margin-bottom: 30px;
    }
    @include small {
        p {
            width: 537px;
            margin: 0 auto;
        }
    }
}

%buttons {
    width: 80%;
    border-radius: 40px;
    color: white;
    border: 0px;
    font-family: "Bai Jamjuree", sans-serif;
    height: 55px;
    font-size: 16px;
    cursor: pointer;
    @include small {
        width: 30%;
    }
    @include large {
        width: 15%;
    }
}

.btn-download-ios {
    @extend %buttons;
    background-color: $StrongCyan;
    border-bottom: 3px solid $DarkenCyan;
    box-shadow: 0px 3px 18px $LightCyan;
    margin-top: 40px;
    &:hover {
        background-color: $LightCyanHover;
    }
}

.btn-download-mac {
    @extend %buttons;
    background-color: $LightBlue;
    margin-top: 25px;
    border-bottom: 3px solid $DarkenBlue;
    box-shadow: 0px 3px 18px $LightenLightBlue;
    &:hover {
        background-color: $LightenLightBlueHover;
    }
    @include small {
        margin-left: 13px;
    }
}

//Fin Header
section {
    margin-top: 130px;
    text-align: center;
}

.ctn-keep {
    text-align: center;
    width: 100%;
    h2 {
        width: 80%;
        margin: 0 auto;
    }
    @include medium {
        p {
            width: 60%;
            margin: 15px auto;
        }
    }
    @include large {
        p {
            width: 43%;
        }
    }
}

.ctn-features-1 {
    display: flex;
    flex-direction: column;
    @include medium {
        flex-direction: row;
    }
    @include large {
        margin-top: 60px;
    }
}

.img-feature-1 {
    width: 86%;
    margin: 35px auto;
    img {
        max-width: 100%;
    }
    @include medium {
        overflow: hidden;
        width: 55%;
        img {
            margin-left: -45px;
        }
    }
    @include large {
        width: 55%;
        margin: 0px;
        img {
            margin-left: -105px;
        }
    }
}

.features-1 {
    h3 {
        margin-top: 45px;
        margin-bottom: 15px;
    }
    @include medium {
        text-align: left;
        padding-left: 50px;
        p {
            margin-left: 0px;
            padding-left: 0px;
        }
    }
    @include large {
        padding-left: 20px;
        margin-top: 60px;
        p {
            width: 340px;
        }
    }
}

.ctn-access {
    h2 {
        width: 80%;
        margin: 0 auto;
    }
    @include medium {
        p {
            width: 60%;
            margin: 15px auto;
        }
    }
    @include large {
        p {
            width: 45%;
        }
    }
}

.img-access {
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    img {
        max-width: 100%;
    }
    @include medium {
        width: 70%;
    }
    @include large {
        width: 55%;
    }
}

.ctn-supercharge {
    h2 {
        width: 80%;
        margin: 0 auto;
    }
}

.ctn-features-2 {
    display: flex;
    flex-direction: column;
    @include small {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.feature-2 {
    margin-top: 60px;
    @include small {
        width: 250px;
    }
    @include medium {
        width: 350px;
    }
    @include large {
        width: 420px;
    }
}

.ctn-brands {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 120px;
        margin-top: 65px;
        &:first-child {
            margin-top: 0px;
        }
    }
    @include small {
        flex-direction: row;
        justify-content: space-evenly;
        img {
            margin-top: 0px;
        }
    }
}

.ctn-clipboard {
    h2 {
        width: 80%;
        margin: 0 auto;
    }
    @include medium {
        p {
            width: 60%;
            margin: 15px auto;
        }
    }
    @include large {
        p {
            width: 44%;
        }
    }
}

.footer {
    background-color: $FooterColor;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
    @include medium {
        flex-direction: row;
        padding: 5px 100px;
    }
    @include large {
        padding: 5px 150px;
    }
}

.footer-img {
    width: 60px;
    margin-top: 50px;
    margin-bottom: 40px;
    img {
        max-width: 100%;
    }
}

.footer-list-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    a {
        text-decoration: none;
        color: $DarkBlue;
        margin-top: 30px;
        &:first-child {
            margin-top: 0px;
        }
        &:hover {
            color: $StrongCyan;
        }
    }
    @include medium {
        flex-direction: row;
        width: 550px;
        flex-wrap: wrap;
        margin-left: 50px;
        margin-top: 25px;
        a {
            margin-top: 0px;
            width: 160px;
            height: 40px;
            text-align: left;
        }
    }
    @include large {
        margin-left: 120px;
        a {
            width: 180px;
        }
    }
}

.footer-social-media {
    display: flex;
    flex-direction: row;
    width: 250px;
    margin-top: 50px;
    justify-content: space-evenly;
    a:hover {
        color: $StrongCyan;
    }
    @include medium {
        width: 180px;
        margin-top: 0px;
        margin-left: auto;
    }
}

.attribution {
    text-align: center;
    margin-top: 35px;
}

@include medium {
    .order-1 {
        order: 1;
    }
    .order-2 {
        order: 2;
    }
    .order-3 {
        order: 3;
    }
    .order-4 {
        order: 4;
    }
    .order-5 {
        order: 5;
    }
}