body {
  background-image: url(../../images/bg-header-desktop.png);
  background-repeat: no-repeat;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}

p {
  line-height: 26px;
  font-size: 16px;
  padding: 0px 34px;
  color: #9fabb2;
}

h3,
h2 {
  color: #4c545d;
}

header {
  text-align: center;
  color: #4c545d;
}
header h1 {
  font-size: 32px;
  padding: 0 15px;
}
header img {
  width: 110px;
  margin-top: 100px;
  margin-bottom: 30px;
}
@media only screen and (min-width: 600px) {
  header p {
    width: 537px;
    margin: 0 auto;
  }
}

.btn-download-mac, .btn-download-ios {
  width: 80%;
  border-radius: 40px;
  color: white;
  border: 0px;
  font-family: "Bai Jamjuree", sans-serif;
  height: 55px;
  font-size: 16px;
  cursor: pointer;
}
@media only screen and (min-width: 600px) {
  .btn-download-mac, .btn-download-ios {
    width: 30%;
  }
}
@media only screen and (min-width: 1440px) {
  .btn-download-mac, .btn-download-ios {
    width: 15%;
  }
}

.btn-download-ios {
  background-color: #26baa4;
  border-bottom: 3px solid #1d907f;
  box-shadow: 0px 3px 18px #91e8db;
  margin-top: 40px;
}
.btn-download-ios:hover {
  background-color: #2acfb7;
}

.btn-download-mac {
  background-color: #6173ff;
  margin-top: 25px;
  border-bottom: 3px solid #475dff;
  box-shadow: 0px 3px 18px #c7cdff;
}
.btn-download-mac:hover {
  background-color: #7a8aff;
}
@media only screen and (min-width: 600px) {
  .btn-download-mac {
    margin-left: 13px;
  }
}

section {
  margin-top: 130px;
  text-align: center;
}

.ctn-keep {
  text-align: center;
  width: 100%;
}
.ctn-keep h2 {
  width: 80%;
  margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
  .ctn-keep p {
    width: 60%;
    margin: 15px auto;
  }
}
@media only screen and (min-width: 1440px) {
  .ctn-keep p {
    width: 43%;
  }
}

.ctn-features-1 {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .ctn-features-1 {
    flex-direction: row;
  }
}
@media only screen and (min-width: 1440px) {
  .ctn-features-1 {
    margin-top: 60px;
  }
}

.img-feature-1 {
  width: 86%;
  margin: 35px auto;
}
.img-feature-1 img {
  max-width: 100%;
}
@media only screen and (min-width: 1024px) {
  .img-feature-1 {
    overflow: hidden;
    width: 55%;
  }
  .img-feature-1 img {
    margin-left: -45px;
  }
}
@media only screen and (min-width: 1440px) {
  .img-feature-1 {
    width: 55%;
    margin: 0px;
  }
  .img-feature-1 img {
    margin-left: -105px;
  }
}

.features-1 h3 {
  margin-top: 45px;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1024px) {
  .features-1 {
    text-align: left;
    padding-left: 50px;
  }
  .features-1 p {
    margin-left: 0px;
    padding-left: 0px;
  }
}
@media only screen and (min-width: 1440px) {
  .features-1 {
    padding-left: 20px;
    margin-top: 60px;
  }
  .features-1 p {
    width: 340px;
  }
}

.ctn-access h2 {
  width: 80%;
  margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
  .ctn-access p {
    width: 60%;
    margin: 15px auto;
  }
}
@media only screen and (min-width: 1440px) {
  .ctn-access p {
    width: 45%;
  }
}

.img-access {
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
}
.img-access img {
  max-width: 100%;
}
@media only screen and (min-width: 1024px) {
  .img-access {
    width: 70%;
  }
}
@media only screen and (min-width: 1440px) {
  .img-access {
    width: 55%;
  }
}

.ctn-supercharge h2 {
  width: 80%;
  margin: 0 auto;
}

.ctn-features-2 {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  .ctn-features-2 {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.feature-2 {
  margin-top: 60px;
}
@media only screen and (min-width: 600px) {
  .feature-2 {
    width: 250px;
  }
}
@media only screen and (min-width: 1024px) {
  .feature-2 {
    width: 350px;
  }
}
@media only screen and (min-width: 1440px) {
  .feature-2 {
    width: 420px;
  }
}

.ctn-brands {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ctn-brands img {
  width: 120px;
  margin-top: 65px;
}
.ctn-brands img:first-child {
  margin-top: 0px;
}
@media only screen and (min-width: 600px) {
  .ctn-brands {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .ctn-brands img {
    margin-top: 0px;
  }
}

.ctn-clipboard h2 {
  width: 80%;
  margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
  .ctn-clipboard p {
    width: 60%;
    margin: 15px auto;
  }
}
@media only screen and (min-width: 1440px) {
  .ctn-clipboard p {
    width: 44%;
  }
}

.footer {
  background-color: #F5F6F8;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35px;
}
@media only screen and (min-width: 1024px) {
  .footer {
    flex-direction: row;
    padding: 5px 100px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer {
    padding: 5px 150px;
  }
}

.footer-img {
  width: 60px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.footer-img img {
  max-width: 100%;
}

.footer-list-links {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer-list-links a {
  text-decoration: none;
  color: #4c545d;
  margin-top: 30px;
}
.footer-list-links a:first-child {
  margin-top: 0px;
}
.footer-list-links a:hover {
  color: #26baa4;
}
@media only screen and (min-width: 1024px) {
  .footer-list-links {
    flex-direction: row;
    width: 550px;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 25px;
  }
  .footer-list-links a {
    margin-top: 0px;
    width: 160px;
    height: 40px;
    text-align: left;
  }
}
@media only screen and (min-width: 1440px) {
  .footer-list-links {
    margin-left: 120px;
  }
  .footer-list-links a {
    width: 180px;
  }
}

.footer-social-media {
  display: flex;
  flex-direction: row;
  width: 250px;
  margin-top: 50px;
  justify-content: space-evenly;
}
.footer-social-media a:hover {
  color: #26baa4;
}
@media only screen and (min-width: 1024px) {
  .footer-social-media {
    width: 180px;
    margin-top: 0px;
    margin-left: auto;
  }
}

.attribution {
  text-align: center;
  margin-top: 35px;
}

@media only screen and (min-width: 1024px) {
  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

  .order-3 {
    order: 3;
  }

  .order-4 {
    order: 4;
  }

  .order-5 {
    order: 5;
  }
}

/*# sourceMappingURL=style.css.map */
